spring:
  application:
    name: Progress Tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/progresstracker
    username: ptrack
    password: ptrack

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
